/* Inicio */


/* HTML */

.bt_eje_html{

}

.container_eje_html{
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 300px;
    border:2px solid black;
    visibility: hidden;
}

.oculto{

}

/* Java */


/* PHP */


/* Contacto */


